<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Block Card Confirmation </title>
    <link rel="stylesheet" href="/static/styles/atmWithCard.css">
    <script src="/static/scripts/currentDateAndTime.js"> timeScript </script>
</head>
<body>
<div class="screen">

    <div class="date-and-time" id="timeAndDate"> Date And Time </div>

    <p class="message" th:text="#{message.cardBlockConfirmation}"> Card Block Confirmation </p>

    <table align="center" cellspacing="10">
        <td align="left">
            <form th:action="@{'/client/card/'+${card.getLastNumbers()}}" th:method="DELETE">
                <button class="button" type="submit" th:text="#{button.confirm}"> Yes </button>
            </form>
        </td>
        <td align="right">
            <form th:method="GET" th:action="@{'/client/card/'+${card.getLastNumbers()}}">
                <button class="button" type="submit" th:text="#{button.cancel}"> Cancel </button>
            </form>
        </td>
    </table>

</div>
</body>
</html>