<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pin Change</title>
    <link rel="stylesheet" href="/static/styles/atmWithCard.css">
    <script src="/static/scripts/currentDateAndTime.js">timeScript</script>
</head>
<body>
<div class="screen">

    <div class="date-and-time" id="timeAndDate">Date And Time</div>

    <p class="header"></p>
    <br/>

    <form class="form" th:method="PUT" th:action="@{'/client/card/'+${card.getLastNumbers()}+'/pin'}" th:object="${card}">

        <table align="center">
            <td>
                <label for="pin"> Новый пин-код </label>
            </td>
            <td>
                <input th:type="number" th:field="*{pin}" id="pin"/>
            </td>
        </table>

        <div class="error" th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Error</div>
        <div class="error" th:if="${#fields.hasErrors('global')}">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
        </div>

        <br/>
        <button class="button" type="submit">Изменить</button>

    </form>

    <table class="bottom-buttons" cellspacing="10">
        <td align="left">
            <form th:action="@{'/client/card/'+${card.getLastNumbers()}}" th:method="GET">
                <button class="button" type="submit">Назад</button>
            </form>
        </td>
        <td align="right">
            <form th:action="@{'/logout'}" th:method="POST">
                <button class="button" type="submit">Завершить обслуживание</button>
            </form>
        </td>
    </table>

</div>
</body>
</html>