<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Pin Change </title>
    <link rel="stylesheet" href="/static/styles/atmWithCard.css">
    <script src="/static/scripts/currentDateAndTime.js"> timeScript </script>
</head>
<body>
<div class="screen">

    <div class="date-and-time" id="timeAndDate"> Date And Time </div>

    <p class="header"></p>
    <br/>

    <form class="form" th:method="PUT" th:action="@{'/client/card/'+${card.getLastNumbers()}+'/pin'}" th:object="${card}">

        <table align="center">
            <td>
                <label for="pin" th:text="#{text.newPin}"> New PIN </label>
            </td>
            <td>
                <input th:type="number" th:field="*{pin}" id="pin"/>
            </td>
        </table>

        <div class="error">
            <p th:each="err : ${#fields.errors('global')}" th:text="#{${err}}" > Error </p>
        </div>

        <br/>

        <button class="button" type="submit" th:text="#{button.change}"> Change </button>

    </form>

    <table class="bottom-buttons" cellspacing="10">
        <td align="left">
            <form th:action="@{'/client/card/'+${card.getLastNumbers()}}" th:method="GET">
                <button class="button" type="submit" th:text="#{button.back}"> Back </button>
            </form>
        </td>
        <td align="right">
            <form th:action="@{'/logout'}" th:method="POST">
                <button class="button" type="submit" th:text="#{button.exit}">Exit</button>
            </form>
        </td>
    </table>

</div>
</body>
</html>