<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PersonalPage</title>
    <link rel="stylesheet" href="/static/atm.css">
</head>
<body>
<div>

    <p th:text="${helloMessage}">Hello message</p>
    <table th:object="${client}">
        <tr th:each="card : ${client.cards}">
            <td th:text="'Карта '+${card.getLastNumbers()}">CardLastNumbers</td>
            <td th:text="'Баланс '+${card.balance}">Balance</td>
            <td>
                <form th:method="GET" th:action="@{'/client/card/'+${card.getLastNumbers()}}">
                    <input type="submit" value="Подробнее"/>
                </form>
                <!--            <a th:href="@{'/client/'+${client.id}+'/card'+${card.id}}">Information</a>-->
            </td>
        </tr>
    </table>

    <form th:action="@{'/totalBalance'}" th:method="GET">
        <button type="submit">Всего средств</button>
    </form>

    <form th:action="@{'/logout'}" th:method="POST">
        <button type="submit">Завершить обслуживание</button>
    </form>

</div>
</body>
</html>