<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Deposit </title>
    <link rel="stylesheet" href="/static/styles/atmOpenForCash.css">
    <script src="/static/scripts/currentDateAndTime.js">timeScript</script>
</head>
<body>
<div class="screen">

    <div class="date-and-time" id="timeAndDate"> Date And Time </div>

    <p class="header" th:text="#{message.deposit}"> Put money in a cash acceptor </p>

    <form class="form" th:method="PUT" th:action="@{'/client/card/'+${card.getLastNumbers()}+'/deposit'}" th:object="${operation}">

        <table align="center">
            <td>
                <label for="amountOfMoney" th:text="#{text.sum}"> Sum </label>
            </td>
            <td>
                <input th:type="number" step="0.01" th:field="*{amountOfMoney}" id="amountOfMoney"/>
            </td>
        </table>

        <br/>

        <div class="error">
            <p th:each="err : ${#fields.errors('amountOfMoney')}" th:text="#{${err}}" > Field error </p>
        </div>
        <div class="error">
            <p th:each="err : ${#fields.errors('global')}" th:text="#{${err}}" > Error </p>
        </div>

        <button class="button" type="submit" th:text="#{button.deposit}"> Deposit </button>

    </form>

    <table class="bottom-buttons" cellspacing="10">
        <td align="left">
            <form th:action="@{'/client/card/'+${card.getLastNumbers()}}" th:method="GET">
                <button class="button" type="submit" th:text="#{button.back}"> Back </button>
            </form>
        </td>
        <td align="right">
            <form th:action="@{'/logout'}" th:method="POST">
                <button class="button" type="submit" th:text="#{button.exit}"> Exit </button>
            </form>
        </td>
    </table>

</div>
</body>
</html>