<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="/static/atmWithCard.css">
</head>
<body>
<div class="screen">
    <p>История операций</p>

        <table>
            <tr th:each="operation : ${history}">
                <td th:text="${operation.getInformationForHistory()}">DateAndTime</td>
            </tr>
        </table>

    <form th:action="@{'/client/card/'+${card.getLastNumbers()}}" th:method="GET">
        <button type="submit">Назад</button>
    </form>

    <form th:action="@{'/logout'}" th:method="POST">
        <button type="submit">Завершить обслуживание</button>
    </form>

</div>
</body>
</html>