<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/atmWithCard.css">
</head>
<body>
<div class="screen">

    <form class="form" th:method="POST" action="/login" th:object="${user}">

        <p>Введите данные</p>

        <input type="text" id="username" name="username" placeholder="Номер карты"/>
        <br/>
        <input type="password" id="password" name="password" placeholder="Пин-код"/>
        <br/>

        <button class="button" type="submit" style="margin: 6%">Войти</button>

    </form>

</div>
</body>
</html>

