<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/atm.css">
</head>
<body>
<div>
    <form th:method="POST" action="/login" th:object="${user}">
        <input type="text" id="username" name="username" placeholder="Введите номер карты"/>
        <input type="password" id="password" name="password" placeholder="Введите пин-код"/>
        <button type="submit">Войти</button>
    </form>
</div>
</body>
</html>