<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/atmWithCard.css">
</head>
<body>
<div class="screen">

    <form class="form" th:method="POST" action="/login" th:object="${user}">

        <p th:text="#{message.enterData}">Enter your data</p>

        <input type="text" id="username" name="username" th:placeholder="#{text.cardNumber}"/>
        <br/>
        <input type="password" id="password" name="password" th:placeholder="#{text.pin}"/>
        <br/>

        <button class="button" type="submit" style="margin: 6%" th:text="#{button.enter}">Login</button>

    </form>

</div>
</body>
</html>

