<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/static/styles/atmWithCard.css">
</head>
<body>
<div class="screen">

    <p class="message" th:text="#{message.logout}">Thanks for using our bank service</p>

    <div align="center">
        <form th:method="GET" th:action="@{'/'}">
            <button class="button" type="submit">OK</button>
        </form>
    </div>

</div>
</body>
</html>