<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet"
          th:href="@{(${message}=='Заберите наличные')?'/static/atmWithCash.css':'/static/atmWithCard.css'}">
</head>
<body>
<div class="screen">
    <p th:text="${message}">Message</p>

    <form th:method="GET" th:action="@{(${currentCard}?'/logoutSuccess':'/client/')}">
        <input type="submit" value="Продолжить"/>
    </form>

    <form th:action="@{'/logout'}" th:method="POST">
        <button type="submit">Завершить обслуживание</button>
    </form>

</div>
</body>
</html>