<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
</head>
<body>

<form th:method="PUT" th:action="@{'/client/'+${client.id}+'/card'+${card.id}+'/transfer'}" th:object="${operation}">

    <label for="amountOfMoney"> Сумма </label>
    <input th:type="text" th:field="*{amountOfMoney}" id="amountOfMoney"/>

    <br/>

    <label for="toCard"> Получатель </label>
    <input th:type="number" th:field="*{toCard}" id="toCard"/>

    <br/>
    <button type="submit">Отправить</button>

</form>

</body>
</html>