body {
    background-image: url(../../static/images/atmOpenForCash.png);
    background-color: rgb(34, 177, 76);
    background-size: cover;
    background-repeat: no-repeat;
}


/* ATM Screen */
.screen {
    background-color: rgb(225, 255, 255);
    overflow: auto;
    color: rgb(0, 84, 0);
    margin-left: 7%;
    margin-top: 7%;
    border: 3px solid black;
    padding-top: 1%;
    padding-top: 1%;
    padding-top: 1%;
    padding-top: 1%;
    position: fixed;
    width: 59%;
    height: 78%;
}


/* Buttons */
.button {
    padding: 5px 5px;
    border-radius: 12px;
    border: 2px solid rgb(255, 201, 14);
    transition-duration: 0.5s;
    text-align: center;
    font-size: 25px;
    font-family: Verdana;
    width: 200px;
    height: 80px;
    color: white;
    background-color: #4CAF50; /* Green */
}
.button:hover {
    background-color: rgb(255, 201, 14);
    border: 2px solid #4CAF50;
    color: black;
    font-family: Verdana;
    font-size: 25px;
}


/* Bottom buttons */
.bottom-buttons {
    width:100%;
    bottom: 0;
    position: absolute;
}


/* Usual text */
.text {
    font-family: Verdana;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
}


/* Form */
.form {
    text-align: center;
    margin:7%;
    font-family: Verdana;
    color: rgb(0, 84, 0);
    font-size: 40px;
    overflow: hidden;
}
.form input{
    border-color: rgb(0, 80, 0);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 15%;
    margin-left: 15%;
    color: rgb(0, 80, 0);
    font-size: 80%;
    font-family: Verdana;
    background-color: rgb(225, 255, 255);
}


/* Date and time */
.date-and-time {
    font-family: verdana;
    float: right;
    font-size: 20px;
    padding-right: 10px;

}


/*Errors*/
.error {
    color: rgb(255, 127, 39);
    padding-bottom: 30px;
}


/* Header */
.header {
    font-family: Verdana;
    text-align: center;
    overflow: hidden;
    font-size:40px;
    padding-top: 40px;
}